/**
* ********************************************
* Menu Table & Page Styling
* ********************************************
**/
.menu-tables table {
  width: 100%;

  td {
    padding: 10px 5px;
    border-bottom: 1px dotted #eee;
  }

  tr:first-child td {
    border-bottom: 1px dotted #555;

    & > *:first-child {
      font-size: 200%;
      font-weight: bold;
      /*padding: 10px 0;*/
    }
  }

  td:nth-child(2) {
    min-width: 60px;
    max-width: 120px;
    text-align: right;
    vertical-align: top;
  }
}

/**
#Custom Tabs Module
*/
.showOnSelect {
  &.menuItem {}

  &.content {
    display: none;

    &.active {
      display: block;
    }
  }
}