#logo{
    max-height: 90%;
}

.blurb-columns{
    &.et_pb_section{

        .et_pb_blurb .et_pb_blurb_content{

            /*position:relative;*/  
            margin-bottom: 40px;
            &:after {
                content: "";
                display: table;
                clear: both;
            }
            .et_pb_main_blurb_image{


            }

            .et_pb_blurb_container {

                h2,h3, h4{
 
                }
            }
        }
    } /*end &.et_pb_section*/
}


/* Divi Contact Form CSS */
.et-pb-contact-message {
    background-color: #eee;
    color: #555;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid hsl(210,50%,50%);
    display:none;
}
.et_pb_contact_right{
    background-color: #eee;
    color: #555;
}
.et_pb_contact_right .et_pb_contact_captcha_question{
    padding: 0 10px 0 20px;
}


/**
 * Custom Column Sizes
 * Smartphones (landscape)
 * Source: https://fibonaccidesignlab.com/divi-media-queries-and-2x2-mobile/
 *  ----------- */
/* Two column on mobile */
@media (max-width: 980px) {
    .twoX2 .et_pb_column{
        max-width: 50% !important;
    }
    .twoX2 .et_pb_column.et_pb_column_1_3:nth-of-type(3){
        margin: 0 25%;
    }
}
@media (max-width: 479px){
    .et_pb_section .et_pb_row.twoX2 div.et_pb_column.et_pb_column_1_4 {
        width: 47.25% !important;
    }

}

/**
 * Custom Module Sizes
 */
.et_pb_module.width-50{
    width: 50%;
}

#main-footer{
    padding-bottom:40px;
}